[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pathlib = "==1.0.1"
argparse = "==1.4.0"
rich = "==12.4.4"
psutil = "==5.9.1"
ApTester = {path = "."}
Fabric3 = "==1.14.post1"
PyYAML = "==6.0"

[dev-packages]

[requires]
python_version = "3.9"
